<section class="page-header">
  <div>
    <h2>Danh sách sân Pickleball</h2>
    <p>Chọn sân phù hợp và tiến hành đặt lịch chơi.</p>
  </div>
</section>

<div class="court-grid">
  @for (court of courts; track court.id) {
    <div class="court-card">
      <img [src]="court.imageUrl" [alt]="court.name">

      <div class="court-content">
        <div class="court-top">
          <h3>{{ court.name }}</h3>

          <span
            class="status"
            [class.maintenance]="court.status === 'MAINTENANCE'"
          >
            {{ court.status === 'AVAILABLE' ? 'Đang hoạt động' : 'Bảo trì' }}
          </span>
        </div>

        <p class="location">{{ court.location }}</p>

        <p class="description">
          {{ court.description }}
        </p>

        <p class="price">
          {{ court.pricePerHour | currency:'VND':'symbol':'1.0-0' }} / giờ
        </p>

        <div class="actions">
          <a [routerLink]="['/courts', court.id]" class="btn detail">
            Chi tiết
          </a>

          @if (court.status === 'AVAILABLE') {
            <a [routerLink]="['/booking', court.id]" class="btn book">
              Đặt sân
            </a>
          }
        </div>
      </div>
    </div>
  }
</div>